@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap');

* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}
body {
  background: #07252d;

}
header {
  background: #000;
  z-index: 10;
  position: relative;
  border-bottom: 2px solid transparent;
  /* border-image: linear-gradient(to right, #0ae8f0 0%,#0a34f0 25%, #f00ae4 50%,  #d53a42 100%); */
  border-image-slice: 1; 
  box-shadow: 0 0 20px  #0ae8f0 ;
  
}
.container {
  max-width: 1180px;
  margin: auto;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
}
.logo h1{
  color: transparent;
  margin: 0;
  padding: 0;
  font-size: 2em;
}
.logo h1 span {
  display: table-cell;
  animation: animate_logo 1s linear infinite;
}
.logo h1 > span:nth-child(1) {
  animation-delay: 0.8s;
}
.logo h1 > span:nth-child(2) {
  animation-delay: 1.5s;
}
.logo h1 > span:nth-child(3) {
  animation-delay: 1.8s;
}
.logo h1 > span:nth-child(4) {
  animation-delay: 1.2s;
}
@keyframes animate_logo {
  0%, 100% {
    color: #fff;
    filter: blur();
    text-shadow: 
    0 0 10px #00b3ff,
    0 0 20px #00b3ff,
    0 0 40px #00b3ff,
    0 0 80px #00b3ff,
    0 0 120px #00b3ff,
    0 0 300px #00b3ff,
    0 0 400px #00b3ff;
  }
}
.navigation  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  transition: 0.4s;
  transform: scale(1);
  margin-left: 20px;
  padding: 15px;
}
.navigation .nav-link:nth-child(1):hover   {
  color: rgb(241, 242, 250);
  transform: scale(1.2);
  transition: transform 0.4s;
  text-shadow: 0 0 10px #0be628,
  0 0 20px #0be628,
  0 0 30px #0be628,
  0 0 50px #0be628;
}
.navigation .nav-link:nth-child(1):hover header   {
  box-shadow: 0 0 20px  #0af016 ;
}
.navigation .nav-link:nth-child(2):hover   {
  color: rgb(250, 253, 249);
  transform: scale(1.2);
  transition: transform 0.4s;
  text-shadow: 0 0 10px #e6120b,
  0 0 20px #e6120b,
  0 0 30px #e6120b,
  0 0 50px #e6120b;
}
.navigation .nav-link:nth-child(3):hover   {
  color: rgb(250, 253, 249);
  transform: scale(1.2);
  transition: transform 0.4s;
  text-shadow: 0 0 10px #0bbae6,
  0 0 20px #0bbae6,
  0 0 30px #0bbae6,
  0 0 50px #0bbae6;
}
.navigation .nav-link:nth-child(4):hover {
  color: rgb(250, 253, 249);
  transform: scale(1.2);
  transition: transform 0.4s;
  text-shadow: 0 0 10px #e2e60b,
  0 0 20px #e2e60b,
  0 0 30px #e2e60b,
  0 0 50px #e2e60b;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
section h2 {
  position: relative;
  font-size: 6em;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below -45px linear-gradient(transparent, #0004);
}

h2 span {
  animation: animate 5s linear infinite;
}
h2 span:nth-child(even) {
  animation-delay: 0.4s;
}
section ion-icon:nth-child(1) {
  position: absolute;
  top: 15%;
  left: 50%;
  font-size: 9vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #0be628)
  drop-shadow(0 0 30px #0be628)
  drop-shadow(0 0 60px #0be628)
  drop-shadow(0 0 100px #0be628)
  drop-shadow(0 0 1500px #0be628);
}
section ion-icon:nth-child(2) {
  position: absolute;
  top: 37%;
  left: 10%;
  font-size: 10vw;
  color: rgb(255, 255, 255);
  filter: drop-shadow(rgb(234, 72, 132) 0px 0px 20px)
   drop-shadow(rgb(234, 72, 132) 0px 0px 30px) 
   drop-shadow(rgb(234, 72, 132) 0px 0px 60px) 
   drop-shadow(rgb(234, 72, 132) 0px 0px 100px) 
   drop-shadow(rgb(234, 72, 132) 0px 0px 150px);
}
section ion-icon:nth-child(3) {
  position: absolute;
  top: 75%;
  left: 80%;
  font-size: 10vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #0757ec)
  drop-shadow(0 0 30px #0790ec)
  drop-shadow(0 0 60px #0790ec)
  drop-shadow(0 0 100px #0790ec)
  drop-shadow(0 0 150px #0790ec);
}
section ion-icon:nth-child(4) {
  position: absolute;
  top: 0;
  left: 8%;
  font-size: 8vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #0757ec)
  drop-shadow(0 0 30px #0790ec)
  drop-shadow(0 0 60px #0790ec)
  drop-shadow(0 0 100px #0790ec)
  drop-shadow(0 0 150px #0790ec);
}
section ion-icon:nth-child(5) {
  position: absolute;
  top: 2%;
  left: 80%;
  font-size: 8vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #ece807)
  drop-shadow(0 0 30px #ece807)
  drop-shadow(0 0 60px #ece807)
  drop-shadow(0 0 100px #ece807)
  drop-shadow(0 0 150px #ece807);
}
section ion-icon:nth-child(6) {
  position: absolute;
  top: 20%;
  left: 75%;
  font-size: 8vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #ec07ba)
  drop-shadow(0 0 30px #ec07ba)
  drop-shadow(0 0 60px #ec07ba)
  drop-shadow(0 0 100px #ec07ba)
  drop-shadow(0 0 150px #ec07ba);
}
section ion-icon:nth-child(7) {
  position: absolute;
  top: 20%;
  left: 20%;
  font-size: 7vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #2035f5)
  drop-shadow(0 0 30px #2035f5)
  drop-shadow(0 0 60px #2035f5)
  drop-shadow(0 0 100px #2035f5)
  drop-shadow(0 0 150px #2035f5);
}
section ion-icon:nth-child(8) {
  position: absolute;
  top: 70%;
  left: 30%;
  font-size: 9vw;
  color: #fff;
  filter: drop-shadow(0 0 20px #20e7f5)
  drop-shadow(0 0 30px #20e7f5)
  drop-shadow(0 0 60px #20e7f5)
  drop-shadow(0 0 100px #20e7f5)
  drop-shadow(0 0 150px #20e7f5);
}
section ion-icon:nth-child(9) {
  position: absolute;
  top: 87%;
  left: 10%;
  font-size: 9vw;
  color: rgb(255, 255, 255);
  filter: drop-shadow(rgb(210, 32, 245) 0px 0px 20px) 
  drop-shadow(rgb(210, 32, 245) 0px 0px 30px) 
  drop-shadow(rgb(210, 32, 245) 0px 0px 60px) 
  drop-shadow(rgb(210, 32, 245) 0px 0px 100px) 
  drop-shadow(rgb(210, 32, 245) 0px 0px 150px);
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4,
    0 0 400px #03bcf4
  }
}

@media (max-width: 576px) {
  section h2 {
    font-size: 4em;
  }
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container .box {
  position: relative;
  width: 320px;
  height: 400px;
  color: #fff;
  background: #1d061a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
}
.container .box:hover {
  transform: translateY(-20px);
}
.container .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
}
.container .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ffbc00, #ff0058);
  filter: blur(30px);
}
.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
  background: linear-gradient(315deg, #001aff, #ff0058);
}
.container .box:nth-child(3)::before,
.container .box:nth-child(3)::after {
  background: linear-gradient(315deg, #00ff00, #0084ff);
}
.container .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.container .box span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}
.container .box .content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
.container .box .content h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}
.container .box .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;

}
